.player_card
  z-index: 100
  border-radius: 5px
  text-align: center
  max-height: 170px
  width: 270px
  padding: 10px

  &.waiting_for
    border: 3px solid white 

  .score, .bid_hint
    margin-bottom: 5px
  .bid_hint
    display: none

#game
  .board-wrapper-small
    .player_card
      padding: 5px
      width: auto
      margin: auto
      min-width: 200px
      max-width: 220px
      .score, .bid_hint
        display: none
      .score, .bid_hint, .debug_info
        font-weight: normal

  &.show_hints
    .player_card 
      .bid_hint, .score
        display: block


  .player_card:hover
    cursor: pointer
    .bid_hint, .score
      display: block

