- extra_class = num_players > 4 ? "extra-small" : nil
.board-wrapper-small{class: extra_class}
  %table.board
    %thead
      %tr
        %th 
          %h3 Player
        %th 
          %h3 Card
    %tbody
      / Note: 0 spot is You, need to render You last for mobile display
      - last_index = num_players - 1
      - (0..num_players - 1).each do |index|
        - use_index = last_index - index 
        %tr
          %td
            = render 'player', index: use_index, you: yours?(use_index)
          %td
            .card_column
              = render 'card_on_table', index: use_index

  .message.d-none
    .text
    .ok
      = link_to "Ok", "#", class: "btn btn-success btn-lg"
