- unless @cards.empty?
  #cardPile{style: "position: relative;"}
    - @cards.each_with_index do |card,i|
      %span.card_wrapper{id: "card#{i}"}
        = render 'playing_card', id: "canv#{i}", card: card
