%h5{style: "margin-bottom: 5px;"}
  Your Hand 
  %i (double click to play)
#hand{style: "position: relative;"}
  - @cards.each_with_index do |card,i|
    %span.card_wrapper{id: "card#{i}"}
      = render 'playing_card', id: "canv#{i}", card: card
