- extra_class = [ extra_class, id ]
- # TODO: remove show_hints check, use #game.show_hints flag/css
- extra_class << :trump if card.present? && card.suit == @game.config[:trump_card].try(:suit) && @game.show_hints?
- extra_class << (card.nil? ? :unplayed : :played)
- card_data = card.present? ? { actualvalue: card.value, suit: card.suit, value: card.abbreviated_name } : nil
%canvas.playing_card{class: extra_class, data: card_data}
