.row
  .col-lg-8.col-lg-offset-2{style: "margin: auto;"}
    %h2 How to Play

    %h5 Players
    %p 
      Best with 3-5 players. Playable up to 10.

    %h5 Deck
    %p 
      Standard 52 card deck, no jokers.

    %h5 First Dealer
    %p
      Each player draws one card each, highest card deals first.
      Dealing passes to the left after each "hand".


    %h5 Rounds of Play (aka: Hands)
    %p
      The "game" is made up of 10 "hands" typically.
    %p 
      Games can be played from 1 card to 10, from 10 cards to 1, or both up and down. 
      If playing with more than 5 players, the maximum hand size is reduced. 
      For larger games playing "up and down" is recommended.
      %br
      .example
        (ex: 10 people, play from 1 card to 5 cards and back to 1.)

    %h5 Winning
    %p
      The player with the highest points in the end wins.

    %h5 Tricks
    %p 
      A "Trick" is a single card played by each player. A "Hand" has as many "tricks" as their are cards in the hand. The hand is over once all cards have been played.

    %h5 Lead Suit
    %p
      The first card played each trick sets the "Lead Suit". Play proceeds clockwise. Others must play the "Lead Suit" if they have it in their hand. Otherwise they can play any card.

    %h5 Trump Suit
    %p
      After dealing out the hands, the dealer flips the top card on the deck. This card determines the "Trump Suit". 

    %h5 Winning a Trick
    %p
      The highest card played in the lead suit wins. 
      If a trump suit card was played, then the highest trump card wins instead of the lead suit. 
      %br
      (AKA: a 2 of trump beats a king of diamonds)
    %p
      The winner of the trick plays first for the next trick.

    %h5 Scoring
    %p
      In the simplest sense, each trick you win is worth 1 point. 
      Highest point total wins the game. 
      Winners however are not concerned with simply taking tricks, but rather "making your bid". 

    %h5 Bidding
    %p
      After the dealer has dealt the hands and flipped the trump card, players make bids.
      Starting to the left of the dealer, each player makes a bid for how many tricks they will win. 
      From 0 up to all the cards in the hand.

    %h5 Making Your Bid
    %p
      The real way to win. When you make your bid, you get +10 points in addition to the tricks you took. At the end of each hand, tricks taken are compared to bids to determine scoring.


    %ul.scoring_examples
      %li{style: "margin-bottom: 15px;"}
        Bid X tricks, take X tricks, you get X+10 points.
        %br
        .example
          EX: bid 3, take 3, you get 13 points. 
      %li{style: "margin-bottom: 15px;"}
        Bid X, take X + 1 tricks, you get X + 1 points
        .example
          EX: bid 3, take 4, you get 4 points.
      %li
        Bid X, take X - 1 tricks, you loose the difference. 
        .example
          EX: bid 3, take 2, you loose 1 point.
    
    %hr

    %h2 Optional Rules
    %h5 Show Hints
    %p
      Enabled for easier learning of the game. Play without for a more lifelike experience.

    %h5 Max Players
    %p
      Allow more than 5 people in the game. If so, we suggest playing "Up and Down".

    %h5 Rounds Direction
    %p
      Playing up is "easier", "down" is harder.
      Playing "up and down" is best for larger than 5 people.
      
    %h5 Underbid
    %p
      If you bid X, but get fewer tricks, do you lose the difference, or get 0 points (easier).

    %h5 "No Trump" Rule
    %p
      If an "Ace of Trump" is flipped by the dealer, the round will be played without a trump suit. Trump suit cards will NOT beat lead suit cards.

    %h5 Bidding: Someone Must Lose
    %p
      When it is the dealers turn to bid, the dealer must bid so the total bids do NOT equal the total cards available.
      If the other players have bid for 8 out of 10 cards in a hand, the dealer can bid 1 or 3, but not 2.

    %h5 Who Plays First In a Hand
    %p
      "Left of Dealer" or else "Highest Bidder" (first to bid it for a tie).

    %h5 Trump Leads
    %p
      In the "Quaker Family Friendly Rules" it is considered an irritating faux pas to lead a trick with a trump card.
