.board-wrapper-small
  .board
    margin: 5px
    padding: 5px
    width: 100%
    th
      &:first-child
        text-align: left
      &:last-child
        text-align: right
      h4
        margin-bottom: 20px

  .message
    .text
      font-size: 18px
      padding: 10px

  .card_column
    // TODO: .half_card
    height: 70px
    overflow-y: hidden
    margin-bottom: 5px
    float: right
