%footer
  .container.text-center
    %p
      CCPA
      \- 
      None of your data is used or sold.
  .container.text-center
    %p
      Contribute on
      = link_to "https://github.com/smith11235/crushcard" do
        %span.fa.fa-github.fa-fw
        %span.network-name Github
